<% content_for :title do %>FoobarKadigan<% end %>
<% content_for :description do %>Website of Foobar Kadigan<% end %>
<section>
	<img src="http://lorempixel.com/1170/600/nightlife/1">
</section>
<div class="column">
	<h3>Stay in touch and travel with us</h3>
</div>
<div class="column">
	<div class="form-centered">
		<%= simple_form_for @visitor do |f| %>
			<%= f.error_notification %>
			<%= f.input :email, label: false, :spaceholder => 'jl@lejoly.com' %>
			<br/>
			<%= f.button :submit, "sign up for the newsletter", :class => "submit" %>
		<% end%>
	</div>
</div>
</section>
