<% content_for :title do %>About<% end %>
<h3> About Foobar Kardigan</h3>
<p>He was born in somewhere , bal bla bla, </p>
<p>His favorite thing is:</p>
<p>Lorem ipsim dolor sit amet, consectetur adiposicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aligua. </p>
